@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f2efec;
}

/* Heading and logo */

h1,
h2 {
    font-family: Sintony, sans-serif;
    color: #d88f81;
}

#logo {
    float: left;
    margin: 10px 0 10px 50px;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 130%;
    float: right;
}

#logo,
#menu {
    line-height: 40px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 15px;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: #d88f81;
}

#menu a:hover {
    border-bottom: 2px solid #95a78d;
}

.active {
    border: 2px solid #95a78d;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 5px;
}

/* main image and cover text*/

#image-section {
    position: relative;
}

#main-image {
    background: url('../images/main-image.jpg') no-repeat center;
    background-size: cover;
    height: 450px;
    width: 100%;
    overflow: hidden;

    background-attachment: fixed;
}

#cover-text {
    color: bisque;
    background-color: rgba(65, 66, 64, 0.8);
    width: 350px;
    height: fit-content;

    padding: 20px 10px 20px 10px;
    margin: 0 0 0 10%;

    bottom: 200px;
    border-radius: 5px;
    position: absolute;
}

/* about section */

#about {
    height: 500px;
}

#about h2 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

#media-border {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #d88f81;
    border-width: 2px;
    border-radius: 5px;
    margin: 50px;
}

#about-image {
    background: url('../images/about-image.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    border-radius: 5px;
}