@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #fffaf5;
}

/* Heading and logo */

h1,
h2 {
    font-family: Sintony, sans-serif;
    color: #d88f81;
}

#logo {
    float: left;
    margin: 10px 0 10px 50px;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 130%;
    float: right;
}

#logo,
#menu {
    line-height: 40px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 15px;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: #d88f81;
}

#menu a:hover {
    border-bottom: 2px solid #95a78d;
}

.active {
    border: 2px solid #95a78d;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 5px;
}

/* main image and cover text*/

#image-section {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    background: url('../images/main-image.jpg') no-repeat center center;
    background-size: cover;
    height: 450px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    color: bisque;
    background-color: rgba(65, 66, 64, 0.8);
    width: 40%;
    min-width: fit-content;
    height: fit-content;

    padding: 20px 10px 20px 10px;
    margin-left: 10%;
    margin-right: 5%;

    bottom: 200px;
    border-radius: 5px;
    position: absolute;
}

/* about section */

#about {
    width: 100%;
    position: relative;
}

#about h2 {
    text-align: center;
    font-size: 36px;
    margin: 50px 0 10px 0;
}

#about-text {
    width: 100%;
    height: auto;
}

#about-info {
    padding-top: 30px;
    padding-right: 20px;
    width: 50%;
    float: left;
    margin: 0px 0px 20px 40px;
}

#about-info > h4 {
    padding-bottom: 10px;
    font-size: 130%;
}

#about-info > p {
    padding-bottom: 15px;
    font-size: 130%;
}

#info-image > img {
    width: 400px;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    float: left;
    margin-top: 100px;
    margin-left: 10%;
    border: #d88f81 solid 5px;
    border-radius: 5px;
}

#about h3 {
    font-size: 28px;
    color: #3a4336;
}

hr {
    width: 100%;
    margin: 2px 0;
    border-top: 2px solid #d88f81;
}

/* testimonial section */

#testimonial {
    position: relative;
    background: url('../images/testimonial.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    background-attachment: fixed;
}

#testimonial h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(58, 67, 54, 0.8);
}

.testimonial-style {
    color: bisque;
    font-size: 20px;
    text-align: center;
    height: auto;

    position: relative;
    top: 5%;
    bottom: 5%;

    margin: 1%;
    padding: 20px;
    background-color: rgba(58, 67, 54, 0.5);
}

/* scroll to the top of the page button */

.go-to-top {
    position: fixed;
    background-color: #d88f81;
    opacity: 0.8;
    border-radius: 5px;
    width: 50px;
    bottom: 120px;
    right: 50px;

    text-align: center;
    line-height: 50px;
    color: beige;
}

/* yoga poses section */
/* videos form pexels.com */
#yoga-section {
    height: auto;
    position: relative;
    text-align: center;
    margin: 10px 30px;
    display: inline-block;
}

.video-row {
    display: flex;
    text-align: center;
    justify-content: center;
}

.left-video {
    float: left;
    width: 45%;
    height: auto;
    margin: 30px;
}

video {
    width: 90%;
    height: auto;
    display: block;

    margin: 2px;
    border: #d88f81 solid 5px;
    border-radius: 5px;
}

.right-video {
    float: right;
    width: 45%;
    height: auto;
    margin: 30px;
}

/* form section*/

.form-section {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.form-section h2 {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.form-image {
    background: url('../images/form.jpg') no-repeat center center;
    background-size: cover;

    width: 60%;
    height: 60%;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    left: 20%;
    top: 10px;
    border: #d88f81 solid 5px;
    border-radius: 5px
}

.form-style {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-style>h3 {
    margin: 0 20px 40px 20px;
    font-size: 150%;
}

.label-style {
    color: #000000;
    font-weight: 600;
    font-size: 140%;
    padding: 5px;

}

.input-style {
    background: rgba(65, 64, 68, 0.8);
    border: #d88f81 solid 2px;
    border-radius: 2px;
    width: 50%;
    height: 25px;
    color: #e8e8e8;
    font-size: 100%;
}

.input-style:hover {
    border-color: #e8e8e8;
}

form span {
    display: inline-block;
}

.join-button {
    width: 100px;
    height: 40px;

    font-size: 100%;
    color: #e8e8e8;
    margin-top: 25px;
    background: rgba(65, 64, 68, 0.9);
    text-align: center;
    border-radius: 2px;
    border: #d88f81 solid 2px;
}

.join-button:hover {
    background: #d88f81;
    color: #e8e8e8;
    border-color: #e8e8e8;
}

/* thank you page */

#thankyou-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.message-style {
    font-size: 24px;
    margin: 0 10%;
}

.message-style > p {
    margin-top: 40px;
    font-weight: bold;
}

#back-home-btn {
    width: 150px;
    height: 60px;

    font-size: 100%;
    color: #e8e8e8;
    margin-top: 25px;
    background: rgba(65, 64, 68, 0.9);
    text-align: center;
    border-radius: 2px;
    border: #d88f81 solid 2px;
}

#back-home-btn:hover {
    background: #d88f81;
    color: #e8e8e8;
    border-color: #e8e8e8;
}

/* footer style from love running*/

footer {
    height: 5%;
    text-align: center;
}

.social-networks {
    text-align: center;
    font-size: 100%;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    color: #d88f81;
    font-size: 40px;
    margin: 15px;
    padding: 15px;
}


/* for large-medium screen size from 1180px and down */
@media screen and (max-width: 1180px) {

    /* about section */
    #info-image {
        width: 90%;
        text-align: center;
    }

    #info-image > img {
        margin-top: 25px;
        width: 60%;
        position: relative;
        left: 15%;
        top: 10%;
    }

    #about-info {
        width: 90%;
        margin-left: 20px;
    }

    /* testimonial section*/

    #testimonial {
        height: 100%;
    }
}

/* for medium screen sizes from 780px and below */
@media screen and (max-width: 780px) {

    /* header styling for all pages */
    #logo {
        display: block;
    }

    #menu {
        float: left;
        clear: left;
        font-size: 100%;
    }


}

/* for medium screen sizes from 715px and below */
@media screen and (max-width: 715px) {

    /* yoga poses page */
    .video-row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .left-video {
        width: 90%;
        height: auto;
    }

    .right-video {
        width: 90%;
        height: auto;
    }

    .form-image {
        width:80%;
        position: relative;
        top: 10px;
        left: 10%;
    }
}

/* for small screen sizes from 460px and below*/
@media screen and (max-width: 460px) {

    #logo {
        display: block;
        align-items: center;
        margin: 10px;
    }

    #menu li {
        margin: 10px;
        clear: left;
        font-size: 80%;
    }

    /* form section */
    .form-image {
        width:80%;
        position: relative;
        top: 10px;
        left: 10%;
    }

    /* footer*/
    .social-networks i {
        font-size: 150%;
        margin: 0;
    }
}