@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #fffaf5;
}

/* Heading and logo */

h1, h2 {
    font-family: Sintony, sans-serif;
    color: #d88f81;
}

#logo {
    float: left;
    margin: 10px 0 10px 50px;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 130%;
    float: right;
}

#logo, #menu {
    line-height: 40px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 15px;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: #d88f81;
}

#menu a:hover {
    border-bottom: 2px solid #95a78d;
}

.active {
    border: 2px solid #95a78d;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 5px;
}

/* main image and cover text*/

#image-section {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    background: url('../images/main-image.jpg') no-repeat center center;
    background-size: cover;
    height: 450px;
    width: 100%;
    overflow: hidden;

    background-attachment: fixed;
}

#cover-text {
    color: bisque;
    background-color: rgba(65, 66, 64, 0.8);
    width: 350px;
    height: fit-content;

    padding: 20px 10px 20px 10px;
    margin-left: 10%;

    bottom: 200px;
    border-radius: 5px;
    position: absolute;
}

/* about section */

#about {
    width: 100%;
    height: 600px;
    position: relative;
}

#about h2 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

#about-text {
    width: 100%;
}

#about-info {
    padding-top: 30px;
    padding-right: 5%;
    width: 55%;
    float: right;
}


#info-image > img {
    width: 300px;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    float: left;
    margin-top: 25px;
    margin-left: 10%;
    border: #d88f81 solid 5px;
    border-radius: 5px;
}

#about h3 {
    font-size: 24px;
    color:#3a4336;
}

p{
    font-weight: 200;
}

hr {
    width: 100%;
    margin: 2px 0;
    border-top: 2px solid #d88f81;
}

/* testimonial section */

#testimonial {
    position: relative;
    background: url('../images/testimonial.jpg') no-repeat center center;
    opacity: 0.9;
    background-size: cover;
    height: 500px;
    width: 100%;
    overflow: hidden;

    background-attachment: fixed;

    margin-top: 5%;
}

.testimonial-style {
    color: bisque;
    font-size: 20px;
    text-align: center;
    width: 95%;
    height: auto;

    position: relative;
    top: 5%;
    bottom: 5%;

    margin: 1%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* yoga poses section */
/* videos form pexels.com */
#yoga-section {
    height: auto;
    position: relative;
    text-align: center;
    margin: 10px 30px;
    display:inline-block;
}

.video-row {
    display:inline-block;
}

.left-video {
    float: left;
    width:45%;
    height: auto;
    margin: 30px;
}

video{
    width: 90%;
    height: auto;
    display: block;
    
    margin: 2px;
    border:#d88f81 solid 5px;
    border-radius: 5px;
}

.right-video {
    float: right;
    width: 45%;
    height: auto;
    margin: 30px;
}

/* form section*/

.form-section {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.form-section h2 {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.form-image {
    background: url('../images/form.jpg') no-repeat center center;
    background-size: cover;

    width: 60%;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    left: 20%;
    top: 10%;
    border: #d88f81 solid 5px;
    border-radius: 5px
}

.label-style {
    color:#000000;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;

}

.input-style {
    background: rgba(65, 64, 68, 0.8);
    border: #d88f81 solid 2px;
    border-radius: 2px;
    width: 320px;
    height: 25px;
    color: #e8e8e8;
    font-size: 100%;
}

.input-style:hover {
    border-color: #e8e8e8;
}

form span {
    display:inline-block;
}

.join-button {
    width: 100px;
    height: 40px;

    font-size: 100%;
    color:#e8e8e8;
    margin-top: 25px;
    background: rgba(65, 64, 68, 0.9);
    text-align: center;
    border-radius: 2px;
    border: #d88f81 solid 2px;
}

.join-button:hover {
    background: #d88f81;
    color:#e8e8e8;
    border-color: #e8e8e8;
}

/* footer style from love running*/

footer {
    height: 5%;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    color: #d88f81;
    font-size: 40px;
    margin: 15px;
    padding: 15px;
}