@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Poppins, sans-serif;
    background-color: #e8e8e8;
}

/* Heading and logo */

h1, h2 {
    font-family: Sintony, sans-serif;
    color: #d88f81;
}

#logo {
    float: left;
    margin: 10px 0 10px 50px;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 130%;
    float: right;
}

#logo, #menu {
    line-height: 40px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 15px;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: #bd897e;
}

#menu a:hover {
    border-bottom: 2px solid #95a78d;
}
.active {
    border: 2px solid #95a78d;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 5px;
}

/* main image */

#main-image {
    background: url('../images/yoga-main-image.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: auto fixed;
    background-attachment: fixed;
}

#cover-text {
    color: bisque;
    background-color: rgba(65, 66, 64, 0.8);
    width: 350px;
    height: fit-content;

    padding: 20px 10px 20px 10px;
    margin: 0 0 0 32%;

    top: 100px;
    bottom: 200px;
    border-radius: 5px;
    position: absolute;
}